<div class="container justify-content-center">
    <div class="row justify-content-center text-center">
        <div class="col">
            <div class="row justify-content-center">
                <a class="text-white" href="https://docs.google.com/forms/d/e/1FAIpQLScZXcxi7ztuXJD5H_UR8jWHUqS3XdGHpI1tkaEEoyToLLHbGQ/viewform" target="_blank">
                    Submit a new plugin here
                </a>
            </div>
        </div>
        <div class="col">
            <div class="row justify-content-center">
                <a class="text-white" href="https://docs.google.com/forms/d/e/1FAIpQLSdUzmb-hrp9YIsHUlbtS8AsiXIPhYmOtDrYS-fVd-kE3tiNwg/viewform" target="_blank">
                    Submit a new plane here
                </a>
            </div>
        </div>
        <div class="col">
            <div class="row justify-content-center">
                <a class="text-white" href="https://docs.google.com/forms/d/e/1FAIpQLSeF0m-YBDTmETHuP1sUF2hUFSeHFfuYiH4fhhqv-9g_VuNYzA/viewform" target="_blank">
                    Submit a livery here
                </a>
            </div>
        </div>
    </div>
</div>
<img src="assets/images/waffleAir.png" class="rounded mx-auto d-block img-fluid mt-1" style="max-height: 100%;max-width: 100%;">