<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-print">
  <div class="container col-9">
    <a class="navbar-brand" href="#">Waffle Air</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/links" routerLinkActive="active">Links</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/flights" routerLinkActive="active">Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/members" routerLinkActive="active">Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/plugins" routerLinkActive="active">Plugins</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/liveries" routerLinkActive="active">Liveries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/planes" routerLinkActive="active">Planes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfP-je5b6sEjBtxT4K9UUmymYGdtCqjmIXL9zqjq_WPenPAjw/viewform" routerLinkActive="active">Join</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="wrapper flex-grow-1"></div>
<!-- Footer -->
<footer class="page-footer font-small table-dark">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 - Made by: Eddy#6218 (Twitch: <a class="text-white" href="https://www.twitch.tv/EddyCro97" target="_blank">EddyCro97</a>)
      <div>DrGimpfeN#9245 (Twitch: <a class="text-white" href="https://www.twitch.tv/Gimpfenlord" target="_blank">Gimpfenlord</a>) [API data], Segamo#4322 (Twitch: <a class="text-white" href="https://www.twitch.tv/SegamoWasabi" target="_blank">SegamoWasabi</a>) [Graphics, Newsletter, Sheet], Tabakhase#7528 (Twitch: <a class="text-white" href="https://www.twitch.tv/Tabakhase" target="_blank">Tabakhase</a>) [Hosting, Sheet]</div>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
