<div class="container justify-content-center mt-3">
    <div class="row justify-content-center text-center">
        <div class="col">
            <h3>Waffle Air Union</h3>
            <a href="http://bit.ly/TheSyrup1" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    The Union's Newsletter - The Syrup - Edition 1
                </div>
            </a>
        </div>
    </div>

    <div class="row justify-content-center text-center mt-5">

        <div class="col-md">
            <h3>Client</h3>
            <a href="https://www.fseconomy.net/forum/msfs/104618-simconnect-client-now-compatible-with-msfs%23463794" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    Latest SimConnect Client
                </div>
            </a>
            <a href="https://sites.google.com/site/fseoperationsguide/getting-started/using-the-website-interface" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    FSE Operation Manual
                </div>
            </a>
        </div>

        <div class="col-md">
            <h3>Waffle Air</h3>
            <a href="https://server.fseconomy.net/static/apps/theonemap/" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    The One Map
                </div>
            </a>
            <a href="https://docs.google.com/document/d/1JuxXH7Rbjpaz8y8jCwrsrjoNgZiJZ3Nlya5jFR_7Sxg/edit" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    Data Feeds
                </div>
            </a>
            <a href="https://docs.google.com/document/d/1CQcXBcIsZjxVbDDtg1HFwLjfWSTS-eh_LTZPANq2xtk/edit" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    Employment Contract
                </div>
            </a>
        </div>

    </div >

    <div class="row justify-content-center text-center mt-5">
        
        <div class="col-md">
            <h3>Airport finder</h3>
            <a class="" href="https://openflights.org/" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    OpenFlights.org
                </div>
            </a>
            <a href="WorldAirportCodes.com" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    WorldAirportCodes.com
                </div>
            </a>
        </div>

        <div class="col-md">
            <h3>Fuel Calculator</h3>
            <a href="http://fuelplanner.com/" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    FuelPlanner.com
                </div>
            </a>
        </div>

        <div class="col-md">
            <h3>Route Planner</h3>
            <a href="https://fse-aardvark-planner.co.uk/" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    FSE Aardvark
                </div>
            </a>
            <a href="http://myflightroute.com/fseinput.php" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    My Flight Route
                </div>
            </a>
            <a href="https://simtoolkitpro.co.uk/" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    SimToolKitPro
                </div>
            </a>
        </div>

        <div class="col-md">
            <h3>Places to visit</h3>
            <a href="https://flightloc.com/locations" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    Flightloc
                </div>
            </a>
            <a href="https://docs.google.com/spreadsheets/d/1PpWJ330gT51bVR_UxqArxrvzqkfyHk1bHq4mpNDoEgg/edit?ouid%3D108839669543396376208%26usp%3Dsheets_home%26ths%3Dtrue" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    Full list
                </div>
            </a>
        </div>

    </div>

    <div class="row justify-content-center text-center mt-5">
        
        <div class="col-md">
            <h3>Aircraft Details</h3>
            <a href="https://docs.google.com/spreadsheets/d/1KAQfbxTiiUoG90RYa4orKER5tGUcdSmXtnCmur8nIvI/edit?usp%3Dsharing" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    Aircraft Information
                </div>
            </a>
        </div>

        <div class="col-md">
            <h3>Finance</h3>
            <a href="https://capitalaircraftfinance.com/" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    Capital Finance
                </div>
            </a>
            <a href="http://www.myfsim.com/FSE/aircraftfinance.php" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    MyFSim Services
                </div>
            </a>
        </div>

        <div class="col-md">
            <h3>Charts</h3>
            <a href="https://skyvector.com/" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    SkyVector
                </div>
            </a>
        </div>

        <div class="col-md">
            <h3>Add-ons</h3>
            <a href="https://www.msfsaddons.org/freeware/modmanfx" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    Mod Manager
                </div>
            </a>
            <a href="https://www.msfsaddons.org/" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    MSFS Addons
                </div>
            </a>
        </div>
    </div>

    <div class="row justify-content-center text-center mt-5">
        <div class="col">
            <h3>Legacy</h3>
            <a href="https://docs.google.com/spreadsheets/d/1EUaYBYV5dI4RRVSf183Q-1z5Vzg9dqUi97DIMf50PDA/edit#gid=12466703" target="_blank">
                <div class="row justify-content-center border-button overflow-hidden">
                    Google Sheet Link That Started This
                </div>
            </a>
        </div>
    </div>

  </div>