a {
    color: white;
}


.border-button {
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none !important
}

.border-button:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.75);
}

.col-md {
    margin-bottom: 5px;
}